<!-- <nav class="navbar navbar-default navbar-static-top" role="navigation">
  <ul class="nav navbar-nav">
      <li class="active">
          <a routerLink="/home">Home</a>
      </li>
      <li>
          <a routerLink="/aboutus">About Us</a>
      </li>
      <li>
          <a routerLink="/user">User</a>
      </li>
      <li>
          <a routerLink="/planner">Planner</a>
      </li>
     
      
      
          <li *ngIf="!isLogin">
                  <a routerLink="/login">Login</a>
          </li>
      
          <li *ngIf="isLogin">
                  <a (click)="logout()">Logout</a>
          </li>
    
  </ul>
  </nav> -->
<!--  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height:30px;">
    <a class="navbar-brand" routerLink="home">Home</a>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="about">About-Us</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/login">venue</a>
            <a class="dropdown-item" href="/register">Register</a>
          </div>
        </li>
      </ul>
  
    </div>
  </nav> -->
  <router-outlet></router-outlet>













