body{
	margin: 0;
	padding: 0;
	background:url(wed2.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
} 

.inputBox
{
	border-style: 3px;
	border: 1px;
	position: relative;
	height: 100%;
	float: left;
	margin: 100px;
	top: 50px;
	width: 600px;
}